[Desktop Entry]
Version=1.0.0
Name=Camera
Comment=I AM Camera
Exec=bash -c 'LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib && source /opt/ros/kinetic/setup.bash && source /home/npt/cira-camera-master/ipcam/devel/setup.bash && roslaunch ipcamera_driver example.launch cam_id:=VE2 ip:=192.168.1.120 ;$SHELL'
Icon=
Terminal=true
Type=Application
Categories=Application;
Name[en_US]=VE2_ip_cam_120.desktop
